
/*Começo do Banner*/
.Banner {
    background: url(../img/Carrosel/Union.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.BannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    padding: 5em;
    color: white;
    width: 100%;
    height: 10em;
}

/*Fim do Banner*/

/*Começo do Carrossel*/
.swiper {
    width: 100%;
    max-width: 1200px;
    padding: 2em 0;
    margin: 2em 0;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.carrosselCard {
    background-image: url(../img/indexIMG/ImagemDeFundoLinhas.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* <- Slide ocupa 100% do espaço disponível */
    max-width: 18em;
    /* <- Limita no desktop */
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.carrosselimg {
    width: 100%;
    height: 20em;
}

.carrosselimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carroselCardTexto {
    padding: 1em;
    height: 10em;
}

/*Fim do Carrossel*/

@media (max-width: 768) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .carrosselCard {
        width: 90%;
    }
}