
/*Começo do Banner*/
.Banner {
    background: url(../img/Carrosel/Union.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.BannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    padding: 5em;
    color: white;
    height: 10em;
}
/*Fim do Banner*/

/*Começo do Carrossel*/
.swiper {
    width: 100%;
    max-width: 1200px;
    padding: 2em 0;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.carrosselCard {
    background-image: url(../img/indexIMG/ImagemDeFundoLinhas.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30em;
    /* <- Slide ocupa 100% do espaço disponível */
    max-width: 18em;
    /* <- Limita no desktop */
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1em;
}

.carrosselimg {
    width: 100%;
    height: 12em;
}

.carrosselimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carroselCardTexto {
    padding: 1em;
    height: 10em;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--CorSecundaria)!important;
    padding: 1em 1.5em;
    border-radius: 100%;
}

.swiper-pagination-bullet-active {
     background-color: var(--CorSecundaria)!important;
}
/*Fim do Carrossel*/

.voluntario01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.videoVoluntario{
margin: 2rem;
}


@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .carrosselCard {
        width: 90%;
    }
    .img-voluntario {
        width: 300px;
        
        
    }
    video {
        width:300px ;
    }
}
